<!-- <input matInput id="campobusqueda" placeholder="buscar">
<mat-drawer mode="side" opened>
    <button mat-raised-button (click)="buscar($event)"> BUSCAR</button>
</mat-drawer>

<div *ngIf="palabras.length > 0 else nowords">
    <div *ngFor="let p of palabras">
        {{p.palabra}}
        {{p.descripcion}}
        {{p.fechaAlta}}
    </div>
</div> -->



<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="buscar">
    <!-- <input matInput (keyup)="buscar($event)" placeholder="buscar"> -->
</mat-form-field>

<button mat-raised-button color="#264D73" (click)="busqueda()">BUSCAR</button>

<div *ngIf="palabras.length > 0 else nowords">
    <table>
        <th>ID</th>
        <th>PALABRA</th>
        <th>DESCRIPCION</th>
        <th>FECHA ALTA</th>
        <tr *ngFor="let t of palabras | search: palabraEscrita">
            <td>{{ t.id }}</td>
            <td>{{ t.palabra }}</td>
            <td>{{ t.descripcion }}</td>
            <td>{{ t.fechaAlta }}</td>
            <!-- <button mat-raised-button (click)="editar()"> EDITAR PALABRA </button>
            <button mat-raised-button (click)="borrar(t.palabra)"> BORRAR PALABRA </button> -->
        </tr>
    </table>
</div>

<div>
    PAlabras: {{palabras.length}}
</div>
<ng-template #nowords>
    <h2>No existen palabras para mostrar</h2>
</ng-template>