:host {
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.registro {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
}

.cuadro {
  margin: 0 auto;
  margin-bottom: -100px;
  margin-top: -100px;
  position: relative;
  width: 450px;
}

label {
  color: white;
}

#formulario {
  background: #2a5b8b;
  padding: 25px;
  margin: 200px 0;
}

input {
  width: 90%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 3px;
  resize: none;
}

.Titulo {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 20px;
}

.Botones {
  text-align: center;
}

// button {
//   background-color: rgb(255, 255, 255);
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   color: black;
//   font-size: 13px;
//   display: flexbox;

// }
// button:hover {
//   background-color: #7d838a;
//   color: white;
// }
// button:disabled {
//   background-color: #eee;
//   color: #aaa;
//   cursor: auto;
// }


.boton_personalizado{
  width: 183px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #282b2c;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.boton_personalizado:hover{
  transition: all 0.3s ease;
  color: #000000;
  background-color: #ffffff;
}